<span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
 
  <svg width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4 7L-2.38419e-07 0L8 0L4 7Z" fill="#191919"/>
</svg>

  <!-- <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"><path d="m1.57 1.59 12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none"/></svg> -->
</span>

