<div id="shopify-section-template--16729052184795__1639410828b50d7dd8" class="shopify-section sec-CallToAction_Section">
  <link href="https://www.self-portrait.com/cdn/shop/t/15/assets/section-call-to-actions.css?v=72362948792779757791647289034" rel="stylesheet" type="text/css" media="all">
  <link href="https://www.self-portrait.com/cdn/shop/t/15/assets/section.css?v=27089812720075537511669043421" rel="stylesheet" type="text/css" media="all">
  <section class="sec-Section sec-Section-lineUpWithFooter scr-Scroll scr-Scroll-fadeIn scr-Scroll-scrolled">
    <div class="sec-Section_Inner sec-Section_Inner-flush-noMarginTop sec-Section_Inner-smallMargin sec-Section_Inner-flush">
      <div class="sec-Section_Grid">
        <div class="sec-Section_Body">
          <div class="sec-CallToAction_Items sec-CallToAction_Items-2 sec-CallToAction_Items-basicFlush">
            <a href="/collections/new-arrivals" class="sec-CallToAction_Item sec-CallToAction_Item-1 sec-CallToAction_Item-mobileBottom sec-CallToAction_Item-mobileCenter sec-CallToAction_Item-desktopBottom sec-CallToAction_Item-desktopLeft sec-CallToAction_Item-hasLink">
              <div class="sec-CallToAction_MediaContainer">
                <div class="sec-CallToAction_Image sec-CallToAction_Image-desktop">
                  <div class="sec-CallToAction_Image">
                    <div class="rsp-Image " style="--Image_AspectRatio: 111.33333333333333%;">
                      <img class="rsp-Image_Image" srcset="//shop.www.self-portrait.com/cdn/shop/files/summer_vacation-1-1500_180x.jpg?v=1688978109 180w,//shop.www.self-portrait.com/cdn/shop/files/summer_vacation-1-1500_360x.jpg?v=1688978109 360w,//shop.www.self-portrait.com/cdn/shop/files/summer_vacation-1-1500_540x.jpg?v=1688978109 540w,//shop.www.self-portrait.com/cdn/shop/files/summer_vacation-1-1500_720x.jpg?v=1688978109 720w,//shop.www.self-portrait.com/cdn/shop/files/summer_vacation-1-1500_900x.jpg?v=1688978109 900w,//shop.www.self-portrait.com/cdn/shop/files/summer_vacation-1-1500_1080x.jpg?v=1688978109 1080w,//shop.www.self-portrait.com/cdn/shop/files/summer_vacation-1-1500_1296x.jpg?v=1688978109 1296w,//shop.www.self-portrait.com/cdn/shop/files/summer_vacation-1-1500_1500x.jpg?v=1688978109 1500w" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" loading="lazy" sizes="(max-width: 900px) 100vw, 50vw" width="1500.0" height="1670">
                    </div>
                  </div>
                </div>
                <div class="sec-CallToAction_Image sec-CallToAction_Image-mobile">
                  <div class="sec-CallToAction_Image">
                    <div class="rsp-Image " style="--Image_AspectRatio: 116.66666666666667%;">
                      <img class="rsp-Image_Image" srcset="//shop.www.self-portrait.com/cdn/shop/files/summer_vacation-1-1800_180x.jpg?v=1688978109 180w,//shop.www.self-portrait.com/cdn/shop/files/summer_vacation-1-1800_360x.jpg?v=1688978109 360w,//shop.www.self-portrait.com/cdn/shop/files/summer_vacation-1-1800_540x.jpg?v=1688978109 540w,//shop.www.self-portrait.com/cdn/shop/files/summer_vacation-1-1800_720x.jpg?v=1688978109 720w,//shop.www.self-portrait.com/cdn/shop/files/summer_vacation-1-1800_900x.jpg?v=1688978109 900w,//shop.www.self-portrait.com/cdn/shop/files/summer_vacation-1-1800_1080x.jpg?v=1688978109 1080w,//shop.www.self-portrait.com/cdn/shop/files/summer_vacation-1-1800_1296x.jpg?v=1688978109 1296w,//shop.www.self-portrait.com/cdn/shop/files/summer_vacation-1-1800_1512x.jpg?v=1688978109 1512w,//shop.www.self-portrait.com/cdn/shop/files/summer_vacation-1-1800_1728x.jpg?v=1688978109 1728w,//shop.www.self-portrait.com/cdn/shop/files/summer_vacation-1-1800_1800x.jpg?v=1688978109 1800w" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" loading="lazy" sizes="(max-width: 900px) 100vw, 100vw" width="1800.0" height="2100">
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec-CallToAction_Inner">
                <div class="sec-CallToAction_Body">
                  <div class="sec-CallToAction_ContentContainer scr-Scroll scr-Scroll-fadeInBottom scr-Scroll-scrolled">
                    <div class="sec-CallToAction_Content">
                      <h2 class="sec-CallToAction_Title sec-CallToAction_Title-light fz-30_30-grotesk">Fresh Start</h2>
                      <p class="sec-CallToAction_Message sec-CallToAction_Message-light fz-16_24">Be daring in the latest delivery from the AW23 collection.</p>
                      <span class="sec-CallToAction_Button btn-Button btn-Button-link btn-Button-linkLight">Discover new arrivals</span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a href="/collections/handbags" class="sec-CallToAction_Item sec-CallToAction_Item-2 sec-CallToAction_Item-mobileBottom sec-CallToAction_Item-mobileCenter sec-CallToAction_Item-desktopBottom sec-CallToAction_Item-desktopLeft sec-CallToAction_Item-hasLink">
              <div class="sec-CallToAction_MediaContainer">
                <div class="sec-CallToAction_Image sec-CallToAction_Image-desktop">
                  <div class="sec-CallToAction_Image">
                    <div class="rsp-Image " style="--Image_AspectRatio: 111.33333333333333%;">
                      <img class="rsp-Image_Image" srcset="//shop.www.self-portrait.com/cdn/shop/files/summer_vacation-2-1500_180x.jpg?v=1688978109 180w,//shop.www.self-portrait.com/cdn/shop/files/summer_vacation-2-1500_360x.jpg?v=1688978109 360w,//shop.www.self-portrait.com/cdn/shop/files/summer_vacation-2-1500_540x.jpg?v=1688978109 540w,//shop.www.self-portrait.com/cdn/shop/files/summer_vacation-2-1500_720x.jpg?v=1688978109 720w,//shop.www.self-portrait.com/cdn/shop/files/summer_vacation-2-1500_900x.jpg?v=1688978109 900w,//shop.www.self-portrait.com/cdn/shop/files/summer_vacation-2-1500_1080x.jpg?v=1688978109 1080w,//shop.www.self-portrait.com/cdn/shop/files/summer_vacation-2-1500_1296x.jpg?v=1688978109 1296w,//shop.www.self-portrait.com/cdn/shop/files/summer_vacation-2-1500_1500x.jpg?v=1688978109 1500w" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" loading="lazy" sizes="(max-width: 900px) 100vw, 50vw" width="1500.0" height="1670">
                    </div>
                  </div>
                </div>
                <div class="sec-CallToAction_Image sec-CallToAction_Image-mobile">
                  <div class="sec-CallToAction_Image">
                    <div class="rsp-Image " style="--Image_AspectRatio: 116.66666666666667%;">
                      <img class="rsp-Image_Image" srcset="//shop.www.self-portrait.com/cdn/shop/files/wedding-1800-2_180x.jpg?v=1687871739 180w,//shop.www.self-portrait.com/cdn/shop/files/wedding-1800-2_360x.jpg?v=1687871739 360w,//shop.www.self-portrait.com/cdn/shop/files/wedding-1800-2_540x.jpg?v=1687871739 540w,//shop.www.self-portrait.com/cdn/shop/files/wedding-1800-2_720x.jpg?v=1687871739 720w,//shop.www.self-portrait.com/cdn/shop/files/wedding-1800-2_900x.jpg?v=1687871739 900w,//shop.www.self-portrait.com/cdn/shop/files/wedding-1800-2_1080x.jpg?v=1687871739 1080w,//shop.www.self-portrait.com/cdn/shop/files/wedding-1800-2_1296x.jpg?v=1687871739 1296w,//shop.www.self-portrait.com/cdn/shop/files/wedding-1800-2_1512x.jpg?v=1687871739 1512w,//shop.www.self-portrait.com/cdn/shop/files/wedding-1800-2_1728x.jpg?v=1687871739 1728w,//shop.www.self-portrait.com/cdn/shop/files/wedding-1800-2_1800x.jpg?v=1687871739 1800w" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" loading="lazy" sizes="(max-width: 900px) 100vw, 100vw" width="1800.0" height="2100">
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec-CallToAction_Inner">
                <div class="sec-CallToAction_Body">
                  <div class="sec-CallToAction_ContentContainer scr-Scroll scr-Scroll-fadeInBottom scr-Scroll-scrolled">
                    <div class="sec-CallToAction_Content"></div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>