<section id="fill-banner">
  <div class="align-fill-banner">
    <a href="{{ section.settings.banner_link }}">
      <picture>
        <source media="(max-width: 767px)" srcset="{{ section.settings.mobile_image | img_url: '750x' }}">
        <img src="{{ section.settings.desktop_image | img_url: '1920x' }}" alt="Banner Image">
      </picture>
      <div class="hero-content">
        <h2>{{ section.settings.heading }}</h2>
      </div>
    </a>
  </div>
</section>

{% schema %}
{
  "name": "Full Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "New In"
    },
    {
      "type": "url",
      "id": "banner_link",
      "label": "Banner Link"
    }
  ],
  "presets": [
    {
      "name": "Fill Banner",
      "category": "Image"
    }
  ]
}
{% endschema %}