<div class="home-page">
  <div class="main-video-new">
    <video class="sec-FullWidthMedia_Video sec-FullWidthMedia_Video-desktop" autoplay="" loop="" muted="" playsinline="" data-video-player-el="video">
      <source  type="video/mp4" src="https://download-video.akamaized.net/v2-1/playback/1acf34ad-a5c6-4841-9fe6-d699b09594c1/5e997c49-42e96f66?__token__=st=1691580251~exp=1691594651~acl=%2Fv2-1%2Fplayback%2F1acf34ad-a5c6-4841-9fe6-d699b09594c1%2F5e997c49-42e96f66%2A~hmac=a154da0077ae6980d5c8b8dd4dc804c5b5553f4f50887ceae81ef836f622060d&r=dXMtY2VudHJhbDE%3D">
    </video>
  </div>

  <div class="newslatter-section">
    <div class="align-newslatter">
      <h1>Autumn/Winter 2023</h1>
      <p>Gigi on a Parisian balcony. Shot by Tyrone Lebon.</p>
      <a href="#">
        EXPLORE THE COLLECTION NOW
      </a>
    </div>
  </div>
</div>